/Dokumentenvorlage.aux
/Dokumentenvorlage.lof
/Dokumentenvorlage.log
/Dokumentenvorlage.lol
/Dokumentenvorlage.out
/Dokumentenvorlage.synctex.gz
/Dokumentenvorlage.toc
/DezSys05_Weinb_5BHIT.aux
/DezSys05_Weinb_5BHIT.lof
/DezSys05_Weinb_5BHIT.log
/DezSys05_Weinb_5BHIT.lol
/DezSys05_Weinb_5BHIT.out
/DezSys05_Weinb_5BHIT.synctex.gz
/DezSys05_Weinb_5BHIT.toc
